<div class="page-header">
  <% if current_user %>
    <% if can? :has_money, @investment %>
      <%= link_to my_investments_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
    <% else %>
      <%= link_to investments_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
    <% end %>
  <% end %>
  <% if current_user %>
    <% if can? :update, @investment %>
      <%= link_to edit_investment_path(@investment), :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>
  <% end %>
  <h1>RENYD <%= @investment.issue_date.strftime('%Y') %>-1/
    <%= @investment.term %> </h1>
</div>

<p>
  <strong>RENYD <%= @investment.issue_date.strftime('%Y') %>-1/
    <%= @investment.term %> are unsecured bonds issued by Renewable
    Yield. The bonds have a <%= @investment.term %> year term with
    a <%= number_to_percentage(@investment.interest_rate, precision: 2) %>
    interest rate. The bonds will mature on
    <%= @investment.maturity_date.strftime('%B %-d, %Y') %> which is
    <%= @investment.term %> years after their offer date of
    <%= @investment.issue_date.strftime('%B %-d, %Y') %>.
  </strong>
</p>

<p>
  <strong>The bonds were issued with an original outstanding amount of
    <%= number_to_currency(@investment.original_issue, precision: 2) %>
    and have a current outstanding amount of
    <%= number_to_currency(@investment.current_outstanding, precision: 2) %>.
    The minimum order is <%= number_to_currency(@investment.minimum_order, precision: 2) %>
    and increments are <%= number_to_currency(@investment.denomination, precision: 2) %>.
  </strong>
</p>

<p>
  <strong>The offering period for this bond started on
    <%= @investment.offer_start_period.strftime('%B %-d, %Y') %> and will end on
    <%= @investment.offer_end_period.strftime('%B %-d, %Y') %>.
  </strong>
</p>
<% if current_user %>
  <% if can? :has_money, @investment %>
    <% if current_user.investments.include?(@investment) %>
      <%= "If you need to divest, click" %>
      <%= link_to 'Divest', divest_investment_path(@investment) %>
      <br>
    <% else %>
      <%= "If you want to invest, click" %>
      <%= link_to 'Invest', invest_investment_path(@investment) %>
      <br>
    <% end %>
  <% end %>
<% end %>
