<div class="page-header">
  <h3>About Renewable Yield</h3>
  <%= image_tag("tree_canopy.jpg", size: "628x363", :alt => "rss feed") %>
</div>

<h5>We here at Renewable Yield are not only excited to be doing our
  part by funding and investing in renewable resources, but we also
  donate 10% of our profits to our favorite causes. At the moment,
  those causes are:
  <br>
  <br>
  <%= link_to "Colorado Trout Unlimited", "http://www.coloradotu.org/" %> - Acts as advocates and conservators for their
  home rivers, conducting projects in stream restoration, water quality protection, and more.
  <br>
  <br>
  <%= link_to "The Cleantech Open", "http://www2.cleantechopen.org/" %> - Runs the world's largest cleantech
  accelerator. They find, fund, and foster the most promising cleantech startups on the planet.
  <br>
  <br>
  <%= link_to "Colorado Fourteeners Initiative", "http://www.14ers.org/" %> - Protects and preserves the natural
  integrity of Colorado’s 14,000 foot peaks through active stewardship and public education.
  <br>
  <br>
  We also have office space in <%= link_to "Green Spaces", "http://greenspaceshome.com/" %>, a Denver coworking space
  for green and
  socially concious entrprenuers.</h5>
<%= link_to 'Business Canvas', business_canvas_path %>
<br>
<%= link_to 'Team', team_path %>

